<a href="https://colab.research.google.com/github/kartikayladdha/AI/blob/master/HW/HW_J025_11th_July'20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

Q1: Create a custom class DataRead to read csv file using pandas

In [4]:
class DataRead():
  def __init__(self,read_file):
    self.df1=pd.read_csv(read_file)

  def RowSelect(self,a,b):
    print(self.df1.iloc[[a,b]])

Q2: Create a custom function RowSelect within the class to select any 2 rows of the the the dataframe

In [5]:
df = "https://people.sc.fsu.edu/~jburkardt/data/csv/oscar_age_male.csv"
x = DataRead(df)
x.df1.head()

   Index   "Year"  ...              "Name"                 "Movie"
1   1928       44  ...   "The Last Command   The Way of All Flesh"
2   1929       41  ...    "In Old Arizona"                     NaN
3   1930       62  ...          "Disraeli"                     NaN
4   1931       53  ...       "A Free Soul"                     NaN
5   1932       47  ...         "The Champ"                     NaN

[5 rows x 5 columns]

In [ ]:
a=int(input('Enter which row number you want to display : '))
b=int(input('Enter which row number you want to display : '))
x.RowSelect(a-1,b-1)

Q3: Create a sub class of DataRead1 as  DataRead2  that has function for correlation plots (using any lib for correlation plot)

In [ ]:
class DataRead2(DataRead):
  def __init__(self,read_file):
    DataRead.__init__(DataRead,read_file)

  def corr_plot(self):
    df2=self.df1
    correlation=df2.corr()
    sns.heatmap(correlation)
    plt.show()

  def RowSelect(self,a,b,c):
    print(self.df1.iloc[[a,b,c]])

In [ ]:
x2 = DataRead2(df)
x2.corr_plot()

Q4: Within DataRead2 also create a function to override the custom function of DataRead1 RowSelect to select 3 rows

In [ ]:
a=int(input('Enter which row number you want to display : '))
b=int(input('Enter which row number you want to display : '))
c=int(input('Enter which row number you want to display : '))
x2.RowSelect(a-1,b-1,c-1)