<a href="https://colab.research.google.com/github/kartikayladdha/AI/blob/master/CW/CW_J025_11th_July_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Introductiion to Python Programming (Artificial Intelligence)**

In [2]:
#list
a = [1,2,3,4,5,'human'] #they are mutable
b = [[1,2,3,4,'human'], [1,2,3,4,5],[3,4,5,'human']]

#tuple
a = (1,2,3,4,5,'human') #aren't mutable

#set
a = {1,2,3,4,5,'human'}

#dictionaries 
a = {'list':[1,2,3,4,5,'human'], 'tuple':(1,2,3,4,5,'human'), 'set':{1,2,3,4,5,'human'}}

What all is possible for a SET!

In [3]:
#set
a = {1,2,3,4,5,'human'} #therte is no index in a set, hence no order
#it arranges the entire numbers accendingly when run

In [4]:
type(a)

set

In [5]:
type(a)
type(b)

list

In [ ]:
b = {[1,2,3,4,5,'human'], ['a']} #not possible in a set

In [ ]:
b = {1,2,3,4,5,'human'} + {1,2,3,4,5,'human'} #not possible for a set

In [8]:
b = {1,2,2,4,5,6} #set prints only distinct values 
b.pop() #the pop function will pop out an arbitary value from the set and removes it

1

In [9]:
b.pop()

2

In [10]:
print(b)

{4, 5, 6}

In [12]:
a = 5
a = 'five'

In [13]:
print (5)
#print 5 - this is not possiible

5

In [20]:
  a=5
b=6 
#this should actually be an error, but here google handeled the indentation error

In [ ]:
if b>0:
print('a')
#here we can clearly see the indentation error

In [23]:
if b>0:
  print('a') 
  #here due to proper indentation we can see that it prints correctly

a

In [26]:
#whenever we define function, it requires an input parameter(it can also be null)
def printer(): #we declared printer function that it is printing the same value everytime
  print(a+b)
def sum(a,b):
  return a+b

In [27]:
printer() #sir hasn't passed any elements yet, still its showing the result using the previously defined a and b

11

In [28]:
#now if we define c 
c=8

In [31]:
sum(a,c)

13

In [32]:
def printer():
  a=5
  b=6
  print(a+b)
  #here a and b are local variables insted of global variables

In [33]:
a=c

In [34]:
a==c

True

In [ ]:
#single = is used to assign where as double = is used to check and hence returns booleans

Data Types

In [36]:
int ('111',3) #this. converts the number into basse 10

13

In [37]:
float(int('111', 3)) #type casting

13.0

In [ ]:
def sum():
  a='data sciene is a 
  scam' 
  #see here its not continuing, abrupty ending a line, ending of line error

In [ ]:
def sum():
  a='data sciene is a \n
  scam'

In [ ]:
help('traceback')

In [ ]:
a_=4 #for using reverse keywords
__a__=
a=6
_a=9 #this style means, this variable is intebded for internal use
__a=91

In [ ]:
#public variable vs private

class human:
    """ Members of a class """
    # attribute - variables - compulsory
    # method/behaviour- function - compulsory

In [ ]:
class Student:
    a =6
    def __init__(self,name):
        #Instatiates the object of a class ~ constructor
        #print(name) 
        self.__name = name 
        #self.__a=6
  
    def displayName(self): 
        print(self.__name)
        #print(self.__a) 
  
#Class vs Object
s1 = Student("Santhosh") 
s1.displayName() 
  
# Raises an error 
print(s1.__name)

In [ ]:
class student1(Student):
    #     def __init__(self,name):
    #     print(self.a)
    #     print(self.__name)

In [ ]:
s2=student1('Santosh1')

**Exploriing Pandas**

In [1]:
import pandas as pd

In [ ]:
lis=['a','b','c']
a=pd.DataFrame(columns=lis)

In [ ]:
a=pd.read_csv('https://people.sc.fsu.edu/~jburkardt/data/csv/addresses.csv')

In [ ]:
b=pd.read

In [ ]:
s1._Student__a

In [ ]:
dir(s1)