<a href="https://colab.research.google.com/github/kartikayladdha/Artificial-Intelligence/blob/master/CW/CW_J025_4th_July_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Introductiion to Python Programming (Artificial Intelligence)**

In [ ]:
#list
a = [1,2,3,4,5,'human'] #they are mutable
b = [[1,2,3,4,'human'], [1,2,3,4,5],[3,4,5,'human']]

#tuple
a = (1,2,3,4,5,'human') #aren't mutable

#set
a = {1,2,3,4,5,'human'}

#dictionaries 
a = {'list':[1,2,3,4,5,'human'], 'tuple':(1,2,3,4,5,'human'), 'set':{1,2,3,4,5,'human'}}

What all is possible for a SET!

In [ ]:
#set
a = {1,2,3,4,5,'human'} #therte is no index in a set, hence no order
#it arranges the entire numbers accendingly when run

In [ ]:
type(a)

set

In [ ]:
type(a)
type(b)

In [ ]:
b = {[1,2,3,4,5,'human'], ['a']} #not possible in a set

In [ ]:
b = {1,2,3,4,5,'human'} + {1,2,3,4,5,'human'} #not possible for a set

In [ ]:
b = {1,2,2,4,5,6} #set prints only distinct values 
b.pop() #the pop function will pop out an arbitary value from the set and removes it

1

In [ ]:
b.pop()

2

In [ ]:
print(b)

{4, 5, 6}